@font-face {
  font-family: "Kirby";
  src: url('/fonts/kirby-classic.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChauPhilomene";
  src: url('/fonts/ChauPhilomeneOne-Regular.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url('/fonts/Cinzel-Regular.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}