body {
  width: 100vw;
  height: 100vh;
  transform: rotate 0.5;
}
.character {
  background: pink;
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 10%;
  left: 30%;
}
.floor {
  background: black;
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.portal {
  background: blue;
  height: 100px;
  width: 100px;
  
}