body {
  width: 100vw;
  height: 100vh;
  transform: rotate 0.5;
}
.character {
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 15%;
  left: 30%;
}
.floor {
  background: black;
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.portal {
  background: blue;
  height: 100px;
  width: 100px;  
}

img {
  height: 300px;
  width: 300px;
  position: fixed;
  bottom: 0;
}