/* HOME */
body {
  width: 100vw;
  height: 100vh;
  background: pink;
}

h1 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-family: "Kirby", "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

h2 {
  margin: 20px auto;
  padding: 10px;
  font-family: "Kirby", "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

p {
  font-family: "Kirby", "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

.gameplay {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Kirby", "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

.gameplay__instructions {
  border: 2px solid white;
  padding: 10px;
  padding-bottom: 200px;
}



/* GAME */
.container__character {
  height: 100px;
  width: 100px;
  transition: 0.2s;
}

.ground__pink {
  width: 100vw;
  height: 100vh;
  text-align:center;
  background: url('/img/pink-ground\(1280)\.png');
  background-size: 160vh;
  -webkit-animation: backgroundScroll 9999999s linear infinite;
  animation: backgroundScroll 111111s linear infinite; /* Adjust timing here according to speed required */
  position:fixed;
}

.obstacle1 {
  color: blue;
  width: 300px;
  height: 300px;
  z-index: 3;
}

.container {
width: 100vw;
height: 100vh;
text-align:center;
background: url('/img/Kirby_background-1280.png');
background-size: 160vh;
-webkit-animation: backgroundScroll 9999999s linear infinite;
animation: backgroundScroll 999999s linear infinite; /* Adjust timing here according to speed required */
position: absolute;
z-index: 3;

  &img:nth-of-type(1){
    position:absolute;
    width:20vw;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }  
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -99999999px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -99999999px 0;}
}

/* flip screen */

.flip__state--second {
  top:  15%;
  position: absolute;
  -moz-transform: scale(1,-1);
  -o-transform: scale(1,-1);
  -webkit-transform: scale(1,-1);
 transform:rotateX(180deg);
 z-index: 2;
 height: 10em;
 width: 10em;
}

.background__state--second {
  position: absolute;
  transform: rotateX(180deg); 
  z-index: -5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}